:root {
    --cor-verde: #59b7cb;
    --cor-rosa: #9d79aa;
    --cor-laranja: #d1783c;
    --cor-roxo-claro: #411c52;
    --cor-roxo-claro: #734f8e;
    --cor-roxo-vinho: #402040;
    --cor-roxo-2: #3F1260;
    --cor-roxo-3: #571A84;
    --cor-preto: #000000;
  }